<p><%= 'Your word is in the dictonnary congrats'if @result == true %></p>
<p><%= 'Your word is not in the dictonnary, sorry'if @result == false %></p>
<p><%= 'You used the correct letters' if @used_correct_letters == true%></p>
<p><%= "You didn't use the correct letters" if @used_correct_letters == false%></p>

